div.breadcrumbs {
    background-image: url(/Images/Fundamentals/breadcrumbs.png);
    background-repeat: no-repeat;
    background-size: 544px 40px;
    width: 544px;
    height: 40px;
    clear: both;
}

    div.breadcrumbs a {
        color: white;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        display: table-cell;
    }

div.breadcrumbsItem {
    display: table;
    float:left;
    height: 80%;
}

div.breadcrumbsSeparator {
    display: table-cell;
    color: white;
    height: 80%;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}