li.commanderAbility img {
    height: 50px;
    width: 50px;
}

li.commanderAbility {
    margin-left: 2px;
    margin-bottom: 20px;
    border: 1px solid grey;
    background: black;
    float:left;
    position: relative;
}

li.commanderAbility:hover {
    border-color: darkgoldenrod;
}

div.abilityPoints {
    color: darkgoldenrod;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    left: 20px;
    -webkit-text-stroke: 1px red;
}