li.commanderListItem {
    background-image: url(/Images/Fundamentals/ListItem.png);
    background-repeat: no-repeat;
    background-size: 400px 120px;
    width: 400px;
    height: 120px;
    color: white;
    clear: both;
    list-style-type: none;
    padding-left: 12px;
    padding-top: 20px;
}

    li.commanderListItem:hover {
        background-image: url(/Images/Fundamentals/ListItemHover.png);
        cursor: pointer;
    }

    li.commanderListItem a {
        display: block;
        color: white;
        text-decoration: none;
    }

li.commanderListItem img.commanderIcon {
    height: 84px;
    width: 86px;
}