div.commanders {
    clear: both;
    position: relative;
    padding-bottom: 15px;
    padding-right: 15px;
}

.react-multiple-carousel__arrow {
    background: rgba(255,255,255,0.7) !important;
}

    .react-multiple-carousel__arrow::before {
        color: rgb(105,105,105) !important;
    }