li.commanderAbility img {
    height: 50px;
    width: 50px;
}

li.commanderAbility {
    margin-left: 2px;
    margin-bottom: 20px;
    border: 1px solid grey;
    background: black;
    float:left;
}

li.commanderAbility:hover {
    background: white;
}
