div.contactFormWrapper {
    float: right;
    background-image: url(/Images/Fundamentals/ContactFormBackground.png);
    background-repeat: no-repeat;
    margin-right: 20px;
    width: 350px;
    height: 270px;
}

    div.contactFormWrapper h3 {
        color: white;
        text-align: center;
        margin-top: 5px;
    }

#contactForm {
    width: 270px;
    margin-left: 25px;
}

    #contactForm input, #contactForm textarea {
        width: 90%;
        margin-left: 10%;
        resize: none;
        background: transparent;
        margin-bottom: 5px;
        color: white;
        border: 1px groove grey;
    }