div.contactFormWrapper {
    float: right;
    background-image: url(/Images/Fundamentals/ContactFormBackground.png);
    background-repeat: no-repeat;
    margin-right: 20px;
    width: 400px;
}

    div.contactFormWrapper h3 {
        color: white;
        text-align: center;
    }

#contactForm {
    width: 350px;
    margin-left: 20px;
}

    #contactForm input, #contactForm textarea {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        resize: none;
    }