div.contactFormWrapper {
    float: right;
    background: black;
    margin-right: 20px;
    width: 400px;
}

    div.contactFormWrapper h3 {
        color: white;
    }

#contactForm {
    width: 350px;
    margin-left: 20px;
}