div.footer {
    background: url("/Images/Fundamentals/header.jpg");
    background-position: center bottom;
    position: relative;
    padding-top: 30px;
    padding-bottom: 10px;
    height: 300px;
    width: 100%;
}
