li.fraction {
    vertical-align: middle;
    display: table-cell;
}

li.fraction:hover {
    cursor: pointer;
}

    li.fraction img {
        width: 115px;
        height: 115px;
        opacity: 0.3;
        text-align: center;
    }

li.fraction img:hover{
        opacity: 1;
}
