li.fraction {
    vertical-align: middle;
    display: table-cell;
}

li.fraction:hover {
    cursor: pointer;
}

li.fraction img {
    width: 60%;
    height: 60%;
    opacity: 0.3;
}

li.fraction img:hover{
        opacity: 1;
}
