div.header {
    background: url("/Images/Fundamentals/header.jpg");
    height: 300px;
    position: relative;
    padding-top: 20px;
}

div.headerRight {
    float:right;
}

div.headerLeft {
    float: left;
}
div.headerLeft div.logo {
    clear: both;
    max-height: 105px;
    overflow: hidden;
}

div.subtitle {
    color: white;
    background-color: black;
    text-align: center;
    padding: 5px;
}