div.header {
    background: url("https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/231430/c89f060dc361fa5fb8b9ad1368c91651a1204ce2.jpg");
    height: 300px;
    position: relative;
}
