div.sitemapFraction {
    float: left;
}

img.sitemapIcon {
    width: 26px;
    height: 26px;
    float: left;
    padding-left: 18px;
    padding-right: 5px;
}

ul.sitemapList {
    list-style-type: square;
}

    ul.sitemapList a:link, ul.sitemapList a:visited, ul.sitemapList:hover, ul.sitemapList:active {
        text-decoration: none;
        color: white;
    }