/*
  Variables
*/

blue = #125688
offwhite = #fafafa
lightgrey  = #EDEEED
lightgray = lightgrey // OH Canada!

html
  font-size 10px
  font-family 'Josefin Slab', serif;

p
  font-size 1.6rem
  line-height 1.5

h1
  text-align center
  font-weight 100
  font-size 13rem
  letter-spacing -1px
  text-shadow 0px 4px 0 rgba(18, 86, 136, 0.11)
  max-width 100%
h3
  font-family 'Josefin Slab', serif;
  text-align center
  font-size 4rem
  float left
  padding 5px
  text-transform uppercase
  font-weight bold

h4
  font-family 'Josefin Slab', serif;
  text-align center
  font-size 2.5rem
  padding 5px
  text-transform uppercase
  font-weight bold

h5
  font-family 'Josefin Slab', serif;
  font-size 1.8rem
  font-weight bold
  margin 1px

h4.post-category
  float right

// "Instagram-like" webfont

@font-face {
    font-family: 'billabongregular';
    src: url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot');
    src: url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff') format('woff'),
         url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf') format('truetype'),
         url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
